/* * {

margin: 0;
padding: 0;
box-sizing: border-box;
} */

/* generali */

 body {

  font-family: 'Baloo Da 2', cursive;

 }

  img  {

  vertical-align: middle;
  width: 70px;
 }

  span {
    font-size: 14px;
    color: #66696f;
  }


  p {
    font-size: 12px;
  }

  h2 {

    font-size: 17px;
  }

  ul {
    padding: 0;
    list-style-type: none;
    margin: 5px 0;
    border-bottom: 1px solid lightgrey;
  }
  ul li {
    display: inline-block;
    margin-right: 30px;
    font-size: 11px;
    color: #66696f;
  }


  /*  layout */

  .header {

  }

  .container {
    width: 70%;
    margin: auto;
  }


  .select {
    color: #3367d7;
    border-bottom: 3px solid #3367d7;;
  }
