/* * {

margin: 0;
padding: 0;
box-sizing: border-box;
} */

body {
  font-family: 'Baloo Da 2', cursive;
}

img {
  vertical-align: middle;
  width: 70px;}

  span {

    color: grey;
  }


  p {
    font-size: 12px;
  }
  
  h2 {

    font-size: 17px;
  }

  .container {

    width: 70%;
    margin: auto;
  }
